html,body{
    margin:0;
    padding:0;
    height:100%;
}

.left{
    width:75%;
    height:100%;
}

.left header{
    max-width:100%;
    width:100%;
    height:50%;
}
.left header img{
    width:100%;
    height:100%;
}

.left .three{
    font-size: 1.2em;
    letter-spacing: 0.1em;
    line-height:2;
}
.left .three h2{
    margin-left:4%;
    font-weight: bold;
    color:rgb(74,202,168);
    font-size:2.6em;
    font-family: "Microsoft JhengHei";
    display: inline-block;
}
.left .three ul{
    margin-left: 4%;
    color:#999999;
    font-size:1em;
    font-family: "Microsoft JhengHei";

}
.left .three ul li{
    list-style: none;
}
.left .three ul li a{
    color:#999999;
    text-decoration:none;
}
.left .three ul li a:hover{
    color:rgb(74,202,168);
}
.left .three ul li i{
    display: none;
}
.left .three ul li i:hover{
    color:rgb(74,202,168);
}
.left .three ul li div{
    display: none;
    text-align: left;
}
.left .three ul li div img{
    width: 96%;
}
.left .three ul li div p{
    margin-right: 2%;
}



footer{
    border-top:3px solid rgba(0,0,0,0.1);;
    color:#999999;
    margin-top:8%;
    padding-bottom: 6%;
    padding-top:6%;
    padding-left:12%;
}
footer span{
    margin-right:2%;
    font-family: "Microsoft JhengHei"

}
footer span a{
    text-decoration: none;
    color:#999999;
}
footer span a:hover{
    color: rgb(74,202,168);
}

.right{
    width:25%;
    max-width:100%;
    height:100%;
    position:fixed;
    top:0;
    right:0;
    background-color: rgb(74,202,168);
    overflow-y: scroll;
    font-family: "Microsoft JhengHei";
    color:#FFFFFF;
    z-index: -1;
}
.right .fa-close{
    color:rgba(225,225,225,0.9);
    position: fixed;
    top:2px;
    right:20px;
    z-index: 13;
    font-size: 2em;
    display: none;
}
.right .fa-close:hover{
    color:#FFFFFF;

}
.right header{
    text-align: center;
    margin-top:18%;
}
.right header img{
    width:60%;
    border-radius: 80%;
}
.right header h4{
    font-size: 2em;
}
.right .menu{
    margin-top:20%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.3em;
}
.right .menu a{
    width: 100%;
    display: block;
    color:#FFFFFF;
    text-decoration: none;
}
.right .menu a:hover{
    color:rgb(74,202,168);
}
.right .menu div{
    display: block;
    padding:5%;
}
.right .menu div:hover{
    background-color: #FFFFFF;
    color:rgb(74,202,168);

}
.right .bottom{
    text-align: center;
    margin-top:6%;
    margin-bottom:10%;
}
.right .bottom i{
    color:#b6e9dc;
    padding:4%;
    font-size: 1.4em;
}
.right .bottom i:hover{
    color:#FFFFFF;
}

.menulogo{
    width:50px;
    height:40px;
    background-color: rgb(74,202,168);
    position: fixed;
    top:0;
    right:0;
    text-align: center;
    display: none;
}
.menulogo i{
    color:rgba(225,225,225,0.9);
    font-size: 1.8em;
}
.menulogo i:hover{
    color:#FFFFFF;
}

.wechat{
    width:100%;
    max-width:100%;
    height:100%;
    display:none;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    position: fixed;
    top:0;
    right:0;
    text-align: center;
}
.wechat img{
    width:30%;
    margin-top:10%;
}
.wechat i{
    font-size: 3em;
    position: fixed;
    top:0;
    right:0;
    color:#FFFFFF;
}

.qq{
    width:100%;
    max-width:100%;
    height:100%;
    display: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    position: fixed;
    top:0;
    right:0;
    text-align: center;
}
.qq i{
    font-size: 3em;
    position: fixed;
    top:0;
    right:0;
    color:#FFFFFF;
}
.qq img{
    width:30%;
    margin-top:4%;
}

@media only screen and (max-width: 1000px) {
    .left{
        width:70%;
    }
    .left header{
        height:40%;
    }
    .left .three .text-one a{
        width:90%;
    }
    .left .three .text-one .inner{
        width:90%;
        margin-left:4%;
        display: block;
    }
    .left .three .two a{
        width:98%;
    }
    .left .three .two .inner{
        width:90%;
        margin-left:4%;
        display: block;
    }
    .left .three .three a{
        width:90%;
    }
    .left .three .three .inner{
        width:90%;
        margin-left:4%;
        display: block;
    }
    .right{
        width:30%;
        display: block;
    }
    .right header h4{
        font-size: 1.8em;
    }
    .right .fa-close{
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    .left{
        width:100%;
    }
    .left header{
        height:30%;
    }
    .left .three{
        width:90%;
    }
    .right{
        display: none;
    }
    .menulogo{
        display: block;
    }
    .right .fa-close{
        display: block;
    }
    .wechat img{
        width:80%;
        margin-top:30%;
    }
    .qq img{
        width:80%;
        margin-top:30%;
    }


}
@media only screen and (max-width: 574px){
    .right{
        display: none;
    }
    .right .fa-close{
        display: block;
    }
    .left{
        width:100%;
    }
    .left .three{
        width:90%;
    }
    .left header{
        height:30%;
    }
    .left .two ul li{
        width:90%;
    }
    .left .contact .content .btn{
        width:40%;
    }
}